#header_home{
    position: relative;

    #header_home_canvas_container{
        width: 100%;
        height: 100%;
        background-color: black;

        canvas{
            height: 100%;
            width: 100%;
        }
    }

    #header_home_content_container{
        @include overlay-full-area;
        @include flex-center;
    }

    #header_home_title{
        background-color: rgba(0, 0, 0, .7);
        padding: 50px; //temporary padding
    }
}