.full-height{
    height: 100vh;
}

.section-default{


    .section-default-wrapper{
        width: 100%;
        max-width: 1200px;
        margin-left: auto; margin-right: auto;

        .section-header{
        height: 80px;
        display: flex;
    
            p{
                height: 100%;
            }
    
            p:first-child{
                img{
                    height: 100%;
                }
            }

            p:last-child{
                color: white;
                font-size: 2em;
                @include header-font-style;
                display: flex;
                align-items: center;
            }
        }
    }
}
