//typography mixins
@mixin base-font-style{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin header-font-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

@mixin sub-header-font-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

//layout mixins
@mixin overlay-full-area{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
